interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer test_api_key
      mem0-user-id:
      - test_user_id
    method: GET
    uri: https://api.mem0.ai/v1/ping/?org_id=org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO&project_id=proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz
  response:
    body:
      string: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: '{"memories":[{"memory_id":"252712fd-ef31-4856-a7f1-1edb8679170c","text":"User
      likes reading science fiction novels, mystery novels, and romance novels","metadata":{"updated":true,"batch":true}},{"memory_id":"30bc8557-8609-4738-b77e-4f0b3d6c041c","text":"User
      name is John","metadata":{"updated":true,"batch":true}}]}'
    headers:
      authorization:
      - Bearer test_api_key
      content-type:
      - application/json
      mem0-user-id:
      - test_user_id
    method: PUT
    uri: https://api.mem0.ai/v1/batch/
  response:
    body:
      string: '{"message":"Successfully updated 2 memories"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - PUT, DELETE, OPTIONS
    status:
      code: 200
      message: OK
version: 1
