interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer test_api_key
      mem0-user-id:
      - test_user_id
    method: GET
    uri: https://api.mem0.ai/v1/ping/?org_id=org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO&project_id=proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz
  response:
    body:
      string: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - OPTIONS, GET
    status:
      code: 200
      message: OK
- request:
    body: '{"filters":{"AND":[{"user_id":"test-delete1"}]},"top_k":10,"org_id":"org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO","project_id":"proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz"}'
    headers:
      authorization:
      - Bearer test_api_key
      content-type:
      - application/json
      mem0-user-id:
      - test_user_id
    method: POST
    uri: https://api.mem0.ai/v2/memories/
  response:
    body:
      string: '[{"id":"f770f5fb-c4d6-4231-9621-23ee55f3c925","memory":"John has a
        friend named Lily","user_id":"test-delete1","metadata":null,"categories":["personal_details"],"created_at":"2025-11-19T00:43:33.973177-08:00","updated_at":"2025-11-19T00:43:33.975680-08:00","expiration_date":null,"structured_attributes":{"day":19,"hour":8,"year":2025,"month":11,"minute":43,"quarter":4,"is_weekend":false,"day_of_week":"wednesday","day_of_year":323,"week_of_year":47}},{"id":"a69e7c5f-ca4b-4aac-861d-5568da64dcfb","memory":"John
        likes swimming","user_id":"test-delete1","metadata":null,"categories":["sports"],"created_at":"2025-11-19T00:43:27.577094-08:00","updated_at":"2025-11-19T00:43:27.579785-08:00","expiration_date":null,"structured_attributes":{"day":19,"hour":8,"year":2025,"month":11,"minute":43,"quarter":4,"is_weekend":false,"day_of_week":"wednesday","day_of_year":323,"week_of_year":47}},{"id":"0d123a6a-0d5d-4bad-831b-f0da555ed455","memory":[...]
- request:
    body: '{"memories":[{"memory_id":"a69e7c5f-ca4b-4aac-861d-5568da64dcfb"},{"memory_id":"0d123a6a-0d5d-4bad-831b-f0da555ed455"}]}'
    headers:
      authorization:
      - Bearer test_api_key
      content-type:
      - application/json
      mem0-user-id:
      - test_user_id
    method: DELETE
    uri: https://api.mem0.ai/v1/batch/
  response:
    body:
      string: '{"message":"Successfully deleted 2 memories"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - PUT, DELETE, OPTIONS
    status:
      code: 200
      message: OK
version: 1
