interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer test_api_key
      mem0-user-id:
      - test_user_id
    method: GET
    uri: https://api.mem0.ai/v1/ping/?org_id=org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO&project_id=proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz
  response:
    body:
      string: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, OPTIONS
    status:
      code: 200
      message: OK
- request:
    body: '{"text":"User loves reading science fiction books"}'
    headers:
      authorization:
      - Bearer test_api_key
      content-type:
      - application/json
      mem0-user-id:
      - test_user_id
    method: PUT
    uri: https://api.mem0.ai/v1/memories/252712fd-ef31-4856-a7f1-1edb8679170c/?org_id=org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO&project_id=proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz
  response:
    body:
      string: '{"id":"252712fd-ef31-4856-a7f1-1edb8679170c","memory":"User loves reading
        science fiction books","user_id":"test1","metadata":null,"categories":["user_preferences"],"created_at":"2025-11-18T19:45:03.321684-08:00","updated_at":"2025-11-19T01:01:45.822490-08:00","expiration_date":null,"structured_attributes":{"day":19,"hour":3,"year":2025,"month":11,"minute":45,"quarter":4,"is_weekend":false,"day_of_week":"wednesday","day_of_year":323,"week_of_year":47}}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, PUT, DELETE, OPTIONS
    status:
      code: 200
      message: OK
version: 1
