interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer test_api_key
      mem0-user-id:
      - test_user_id
    method: GET
    uri: https://api.mem0.ai/v1/ping/?org_id=org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO&project_id=proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz
  response:
    body:
      string: '{"status":"ok"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - OPTIONS, GET
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      authorization:
      - Bearer test_api_key
      mem0-user-id:
      - test_user_id
    method: GET
    uri: https://api.mem0.ai/v1/memories/252712fd-ef31-4856-a7f1-1edb8679170c/history/?org_id=org_TYLzC5IhE3P60cQCUl7CIo1dUUgoE8TEeiWvBlNO&project_id=proj_DlCemE8JjiUbx7odgCJiW3Rx2BuaK8waIkswkmGz
  response:
    body:
      string: "[{\"id\":\"9a7944fd-355a-4495-a77c-1f68871f31f7\",\"memory_id\":\"252712fd-ef31-4856-a7f1-1edb8679170c\",\"input\":[{\"role\":\"user\",\"content\":\"\u6211\u559C\u6B22\u9605\u8BFB\u79D1\u5E7B\u5C0F\u8BF4\u3001\u60AC\u7591\u5C0F\u8BF4\u548C\u8A00\u60C5\u5C0F\u8BF4\u3002\"}],\"old_memory\":\"User
        likes reading science fiction novels, mystery novels, and romance novels\",\"new_memory\":\"User
        loves reading science fiction books\",\"user_id\":\"test1\",\"categories\":[\"user_preferences\"],\"created_at\":\"2025-11-18T19:45:03.321684-08:00\",\"event\":\"UPDATE\",\"previous_embedding_qwen\":null,\"embedding_qwen\":null,\"metadata\":null,\"updated_at\":\"2025-11-19T01:01:45.822490-08:00\"},{\"id\":\"56d6add4-dd58-4f97-8f9d-c96b8e237602\",\"memory_id\":\"252712fd-ef31-4856-a7f1-1edb8679170c\",\"input\":[{\"role\":\"user\",\"content\":\"\u6211\u559C\u6B22\u9605\u8BFB\u79D1\u5E7B\u5C0F\u8BF4\u3001\u60AC\u7591\u5C0F\u8BF4\u548C\u8A00\u60C5\u5C0F\u8BF4\u3002\"}],\"old_memory\":\"User
        likes reading science fiction novels, mystery novels, and romance novels\",\"new_memory\":\"User
        loves reading science fiction books\",\"user_id\":\"te[...]
