crewai>=0.80.0
litellm>=1.79.0
openai>=2.0.0
respx>=0.20.0
pysqlite3-binary
-e aliyun-semantic-conventions
-e util/opentelemetry-util-http
-e instrumentation/opentelemetry-instrumentation-crewai
-e instrumentation/opentelemetry-instrumentation-litellm
